<html>
    <head>
        <title>
            Nikhil
        </title>
        <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/static/my-bio.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <div class="col-md-2 col-md-offset-5">
        <img class="img-circle" src="/static/Nikhil.jpg" width="200" height="200">
            </div>
        <br>
        <div class="col-md-10 col-md-offset-1 top-space">
        <h3 class="margin-base-vertical text-center headline">Nikhil Prakashrao</h3>
        <p class="text-justify">Myself Nikhil, I have completed my B.E in the stream of chemical Engineering. I have been trained in Manual and Automation testing.Currently i am working as QA Engineer, Intern at Qxf2 Services.
            I have a basic programming knowledge in Java and Python. Good knowledge in Manual Testing, Oracle SQL. And the tools i have used are Jira,TestRail,git Github  and Selenium.
        </p>

        
        </div>  
    </div>
    </body>
</html>